.home {
    flex-grow:1;
    display: flex;
}

.cont {
    width:50%;
}

.cont-1 {
    display: flex;
    justify-content: center;
}

.cont-2 {
     
}

.info {
    padding:15px;
    margin-top: 5%;
    margin-bottom:5%;
    height:auto;
    min-height:70%;
    width:70%;
    color: white;
}

