.ReactJS {
    background-color: white;
    flex-grow: 1;
    display: flex;
    
}

.indice {
    display: block;
    text-decoration: none;
    color:black;
}

.content {
    width: 15%;
    background-color: rgb(241, 241, 241);
}

.documentation{
    padding-top:  25px ;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    width: 85%;
    background-color: rgb(248, 248, 248);
    align-items: center;
}




.indice:hover {
    background-color: rgba(0, 0, 0, 0.041);
}